<div class="pages">
    <div data-page="userDashbaord" class="page">

        <div class="page-content">
            <!-- <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="back link">
                            <i class="icon icon-back"></i>
                            <span>Back</span>
                        </a>
                    </div>
                    <div class="center sliding">User Dashboard!</div>
                </div>
            </div> 
            <div class="content-block">
            </div>-->

            <div id="mapBackground">
                <!-- Created by Odyssey Designers -->
                <img src="images/logoWhite.png" alt="logo" class="logoWhite">
                <div id="user-info"></div>
                <!-- Created by Odyssey Designers -->
                <img src="images/notificationIcon.png" alt="notification" class="notificationIcon">
                <div id="map" class="mapHt"></div>
            </div>

            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div id="modal-content">
                    <span class="close">&times;</span>
                    <p style="font-weight: bold;">What is on your mind?</p>
                    <img id="imgTimeline" src="" />
                    <textarea id="userThought" class="popUpInput" maxlength="250"
                        placeholder="What is on your mind? (max: 250 words)"></textarea>
                    <select id="dropdown-places">
                        <option disabled selected>Select a Place</option>
                    </select>
                    <!-- Image reference :
                    https://www.flaticon.com/free-icon/camera_807982 -->
                    <img src="images/camera.png" alt="takePicture" class="right takePicture" onclick="takePicture()" >
                    <input type="submit" class="popUpSubmit" value="Submit" onclick="checkInAtPlace()">
                </div>
            </div>


            <!-- The Picture Modal -->
            <div id="myModal-pic" class="modal-pic">
                <!-- Modal content -->
                <div id="modal-content-pic">
                    <span class="close-pic">&times;</span>
                </div>
            </div>
            <!---------------------------------------------------------------------->
            <!-------------------------Switch View---------------------------------->
            <!---------------------------------------------------------------------->
            <!-- Image reference
            https://www.flaticon.com/free-icon/expand_959222 -->
            <img src="images/expand.png" onclick="switchView()" class="switchViewBtn" id="switchView">

            <!---------------------------------------------------------------------->
            <!----------------------------------AR---------------------------------->
            <!---------------------------------------------------------------------->
            <!-- Created by the Designers of Odyssey -->
            <img src="images/ar.png" onclick="showFlags()" class="arViewBtn" id="arView">

            <!-- Timeline ---------------------------------------------------------->
            <!-- Reference https://www.w3schools.com/howto/howto_css_timeline.asp -->
            <!---------------------------------------------------------- Timeline -->
            <div class="timeline" id="mainTimeline">
                <div class="container right">
                    <div class="content" onclick="entryOptions()">
                        <h3>Welcome to Odyssey</h3>
                        <!-- <h3>11-09-2017 1:56 AM</h3> -->
                        <p>Start creating your personal location based journal with a click of button.</p>
                    </div>
                </div>
            </div>
            <!-- Timeline ---------------------------------------------------------->
            <!---------------------------------------------------------------------->
            <!---------------------------------------------------------- Timeline -->

        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar toolbar-style">
            <div class="toolbar-inner">
                <img src="images/logout.svg" alt="profile" class="profileIcon">
                <div class="check-in">
                    <img src="images/checkin.svg" alt="checkin" class="checkinIcon" onclick="whatsOnMind()">
                </div>

                <!-- <img src="images/iconFlag.png" alt="game" class="gameIcon"> -->
                <a href="components/leaderBoard/leaderBoard.html"><img src="images/medal.png" alt="game"
                        class="gameIcon"></a>

            </div>
        </div>
        <!-- <div class="toolbar">
            <div class="toolbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="icon icon-back"></i>
                        <span>Back</span>
                    </a>
                </div>
                <button id="checkIn" onclick="checkInAtPlace()" class='buttonDashboard'>Check-in</button>
                <button class="buttonDashboard" onclick="showFlags()">Check for flags</button>
            </div>
        </div> -->
    </div>
</div>