<div class="pages">
    <div data-page="leaderBoard" class="page">
        <div class="page-content">
            <main>
                <div id="grid-container-leaderboard">
                  <div id="leaderboard-background"></div>
                  <div id="leaderboard-result-content">
                     <div class="winner-teams">
                        <img id="team-1" src="images/country-location/turkey.svg" alt="canada flag">
                        <img id="team-2" src="images/country-location/india.svg" alt="canada flag">
                        <img id="team-3" src="images/country-location/russia.svg" alt="canada flag">
                     </div>
                      <img id="image-podium" src="images/podium.svg" alt="podium image">
                  </div>
                  
                </div>
            </main>
            <div class="list">
                    <h2 id="leader-head">LeaderBoard</h2>
                    <ul class="leader-board">
                      <!-- List items -->
                      <li class="item-users">
                        <div class="lead-users">
                          <div class="lead-user lead-item1">
                              <img src="images/leaderBoardImages/russia.svg" alt="">
                          </div>
                          <div class="lead-user lead-item2">Yalcin Tatar</div>
                          <div class="lead-user lead-item3">
                            <div id="score-background-first">85</div>
                          </div>
                        </div>
                      </li>
                      <li class="item-users">
                          <div class="lead-users">
                            <div class="lead-user lead-item1">
                                <img src="images/leaderBoardImages/south-korea.svg" alt="">
                            </div>
                            <div class="lead-user lead-item2">Yalcin Tatar</div>
                            <div class="lead-user lead-item3">
                              <div id="score-background-second">74</div>
                            </div>
                          </div>
                        </li>
                        <li class="item-users">
                            <div class="lead-users">
                              <div class="lead-user lead-item1">
                                  <img src="images/leaderBoardImages/brazil.svg" alt="">
                              </div>
                              <div class="lead-user lead-item2">Yalcin Tatar</div>
                              <div class="lead-user lead-item3">
                                <div id="score-background-third">70</div>
                              </div>
                            </div>
                          </li>
                          <li class="item-users">
                              <div class="lead-users">
                                <div class="lead-user lead-item1">
                                    <img src="images/leaderBoardImages/india.svg" alt="">
                                </div>
                                <div class="lead-user lead-item2">Yalcin Tatar</div>
                                <div class="lead-user lead-item3">
                                  <div class="score-background-others">58</div>
                                </div>
                              </div>
                            </li>
                            <li class="item-users">
                                <div class="lead-users">
                                  <div class="lead-user lead-item1">
                                      <img src="images/leaderBoardImages/turkey.svg" alt="">
                                  </div>
                                  <div class="lead-user lead-item2">Yalcin Tatar</div>
                                  <div class="lead-user lead-item3">
                                    <div class="score-background-others">58</div>
                                  </div>
                                </div>
                              </li>
                              <li class="item-users">
                                  <div class="lead-users">
                                    <div class="lead-user lead-item1">
                                        <img src="images/leaderBoardImages/south-korea.svg" alt="">
                                    </div>
                                    <div class="lead-user lead-item2">Yalcin Tatar</div>
                                    <div class="lead-user lead-item3">
                                      <div class="score-background-others">58</div>
                                    </div>
                                  </div>
                                </li>

                    </ul>
                    
              </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar">
            <div class="toolbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="icon icon-back"></i>
                        <span>Back</span>
                    </a>
                </div>
                <a href="#" class="link">Link 2</a>
            </div>
        </div>
    </div>
</div>