/**********************************************************/
/**********************************************************/
/*************Main CSS file for all component*************/
/**********************************************************/
/**********************************************************/
/**********************************************************/

.item-content{
    list-style-type: none;
}
.confetti-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}
#ul-signin{
   visibility: hidden;
   animation: formAnimation 2.2s 6s forwards;
   padding: 0;
   padding-top: 44px;
}
#ul-signin-withoutAnim{
    padding: 0;
}
.list #ul-signin-withoutAnim{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0;
    top: 14vh;
    position: relative;
}

.list{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 8vh;
}   

.button.button-fill{
    width: 100%;
    background: #0db645;
    height: 5vh;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgba(17,82,38,1);
    padding: 1.5vw;
}
.list ul{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-left: 0;
}
#signup-link{
    color: #5282ab;
    display: block;
    position: relative;
    text-align: center;
}
.span-sign{
    text-decoration: underline;
    font-weight: bold;
}
.list #ul-signup{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0;
    top: 16vh;
    position: relative;
}
/**********************************************************/
/******************Form Control****************************/
/**********************************************************/

#userEmail{
    
}
/**********************************************************/
/******************Form Control****************************/
/**********************************************************/
.divider-loginbutton{
    margin-top: 4vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.divider-loginbutton li{
    padding: 8px 0;
}
.divider-loginbutton li:nth-child(2){
    left: 300px;
    /* margin-left: -10vw; */
}
.item-inner p{
    font-size: 0.8em;
}
input[type=text] , input[type=password] ,input[type=email] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: -1px 1px 7px -1px #697a6e;
  }
  .country-list{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: gray;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: -1px 1px 7px -1px #697a6e;
    background: url(/images/world.png) no-repeat scroll 8px 8px; 
    padding-left: 30px;
    background-position: 3.2vw;
    padding: 12px 40px;
    background-color: white;
  }
  .user-input{
    background: url(/images/user.png) no-repeat scroll 7px 7px; 
    padding-left: 30px;
    background-position: 3.2vw;
    padding: 12px 40px;
    background-color: white;
  }
  .password-input{
    background: url(/images/password.png) no-repeat scroll 8px 8px; 
    padding-left: 30px;
    background-position: 3.2vw;
    padding: 12px 40px;
    background-color: white;
  }
 .email-input{
    background: url(/images/email.png) no-repeat scroll 8px 8px; 
    padding-left: 30px;
    background-position: 3.2vw;
    padding: 12px 40px;
    background-color: white;
 }
.mountain-logo{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 33vh;
    animation: mountainOpacity 3s 7s forwards ease-in-out, mountainzIndex 3s 7.1s forwards;
}
.mountain-logo-signup{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 33vh;
    opacity: .5;
    z-index: -1;
    /* animation: mountainOpacity 3s 8s forwards ease-in-out, mountainzIndex 3s 7.1s forwards; */
}
.cloud-logo-right{
    position: absolute;
    top: 5vh;
    right: 5vh;
    width: 10vh;
    height: auto;
    animation: LogoToLeft 2.2s forwards, hideCloud 2s 6s ease ,lessOpacityCloud 3s 7s forwards ease-in-out;
 
}
.cloud-logo-left{
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 10vh;
    height: auto;
    animation: LogoToRight 2.2s forwards , hideCloud 3s 6s ease ,lessOpacityCloud 3s 8s forwards ease-in-out ;
}
.cloud-logo-left-signup{
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 10vh;
    height: auto;
    
}
.cloud-logo-right-signup{
    position: absolute;
    top: 5vh;
    right: 5vh;
    width: 10vh;
    height: auto;
   
 
}
.tree-logo-one{
    position: absolute;
    width: 10vh;
    height: auto;
    bottom: 24vh;
    left: 7vw; 
    animation: treeAnimation 3s, treeHide 1.5s 6s  forwards;
}
.tree-logo-two{
    position: absolute;
    width: 5vh;
    height: auto;
    bottom: 24vh;
    left: 15vh; 
    opacity: 0.7;
    animation: treeAnimation 3s, treeHide 1.5s 6s  forwards; 
}

.logo-container{
    position:absolute;
    max-width:50%;
    max-height:45%;
    top:30vh;
    left:46vw;
    overflow:visible;
   
}
.button-letsgo{
    opacity: 0;
    animation: slide-in-bottom 1.5s 5s forwards;
}
.odyssey-logo{
    position:relative;
    max-width:100%;
    visibility: hidden;
    max-height:100%;
    margin-top:-7vh;
    margin-left:-50%;
    /* This 2 is important for reverse animation (animation-timing-function: ;)*/
    /* animation: mainLogoAnimation 5s 2s, mainLogoAnimation 3s 6s reverse forwards ; */
    animation: mainLogoAnimation 5s 2s, mainLogoAnimationMoveUp 2.2s 6s forwards;
  
}
.odyssey-logo-signup{
    position:relative;
    max-width:70%;
    max-height:100%;
    margin-top:-7vh;
    margin-left:-33%;
    top: -15vh;
  
}
.flag-container{
    position:absolute;
    max-width:50%;
    max-height:45%;
    top:66vh;
    left:74vw;
    overflow:visible;
    
}
.flag-logo{
    position:relative;
    max-width:50%;
    max-height:100%;
    margin-top:-40vh;
    visibility: hidden;
    margin-left:-50%;
    animation: flagAnimation 7s 3s ease-in-out ;
}
/**********************************************************/
/**********************************************************/
/*************LEADERBOARD CSS*************/
/**********************************************************/
/**********************************************************/
/**********************************************************/


#score-background-second{
    border-radius: 20%;
    background: rgb(249,210,112);
    background: linear-gradient(90deg, rgba(249,210,112,1) 25%, rgba(244,216,147,1) 100%);
    color: white;
}
#score-background-third{
    border-radius: 20%;
    background: rgb(228,120,97);
    background: linear-gradient(90deg, rgba(228,120,97,1) 25%, rgba(237,160,143,1) 100%);
    color: white;
}
#score-background-first{
    border-radius: 20%;
    background: rgb(126,196,185);
    background: linear-gradient(90deg, rgba(126,196,185,1) 25%, rgba(168,224,215,1) 100%);
    color: white;

}
.score-background-others{
    border-radius: 20%;
    background: rgb(119,119,119);
    background: linear-gradient(90deg, rgba(119,119,119,1) 25%, rgba(191,190,190,1) 100%);
    color: white;

}
.lead-users{
    width: 100%;
    background: rgb(224,224,224);
    height: 7vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-radius: 5px;
    color: gray;
    box-shadow: -1px 1px 7px -1px #697a6e;
}
#grid-container-leaderboard{
    display: grid;
    
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 200px auto auto;
    
}
#leaderboard-background{
    background-color: #0db645;
    row-gap: 50%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
#leaderboard-result-content{
   background-color:#e0e0e0;
   width: 80%;
   height: 200px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5vh;
   position: absolute;
   left: 10vw;
   text-align: center;
   border-radius: 5px;
   box-shadow: -1px 1px 7px -1px #697a6e;
}
#image-podium{
    width: 46%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 22vw;
    top: 7vh;
}
#team-1{
    width:15%;
    position: relative;
    top: 5vh;
    animation: bounce-in-top 1.1s 0.8s both;
}
#team-2{
    width:15%;
    position: relative;
    top: 1vh;
    left: 1vw; 
    animation: bounce-in-top 1.1s 0.5s both;   
}
#team-3{
    width:15%;
    position: relative;
    top: 8vh;
    left: 1vw;
    animation: bounce-in-top 1.1s 1.1s both;
}
.winner-teams{
    padding: 5px;
}
.lead-item1{
    width: 10vw;
    padding: 5px;
}
.lead-item2{
    text-align: center;
    padding-top: 10px;
    padding-right: 30px;
}
.lead-item3{
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
}
#leader-head{
    margin-left: auto;
    margin-right: auto;
    color: #646550;
    text-align: center;
    
}
.leader-board{
    padding-bottom: 44px;
}
.leader-board li{
    font-size: 1.5em;
    width: 100%;
    display: inline-flex;
    list-style-type: none;
    font-family: sans-serif;
    color: #646565;
    padding-top: 4vh;
}
.user-score{
    position: absolute;
    right: 20vw;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 
.username-leaderboard{
    padding-right:20vw ;
}
@keyframes slide-in-bottom {
    0% {
      
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
      
        transform: translateY(0);
        opacity: 1;
    }
  }
  @keyframes slide-in-teamflag {
    0% {
      
        transform: translateY(0);
       
    }
    100% {
      
        top: 13vh;
        
    }
  }
@keyframes hideCloud{

    25%{
        top: 60px;
    }

    100% {
        
      top: -300px;
      opacity: 0;
       
    }
}
@keyframes lessOpacityCloud{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}
@keyframes leftCloudMovement{
    0%{
        left: 3vh;
        opacity: 0.5;

    }

    100% {
        
      left: 20vh;
      opacity: 0.5;
       
    }
}


@keyframes mainLogoAnimation{
    0% {
        opacity: 0.0;
        display: none;
    }

    50% {
        visibility: visible;
        opacity: 0.6;
    }

    100% {
        visibility: visible;
        opacity: 1;
       
    }
}
@keyframes mainLogoAnimationMoveUp{
    0% {
        
        visibility: visible;
        transform: translateY(0);
       
    }
  
    100% {
        margin-left:-29%;
        max-width:70%;
        visibility: visible;
        transform: translateY(-100px) ;
        
    }
}
@keyframes mountainOpacity{
    0% {
      
        opacity: 1;
       
    }

    100% {
       
       opacity: 0.5;
        
    }
}
@keyframes mountainzIndex{
    0% {
      
        z-index: -1;
       
    }
    100%{
        z-index: -1;
    } 
}
@keyframes formAnimation{
    0% {
        visibility: visible;
        transform: translateY(-200px);
       
    }
  
    100% {
        visibility: visible;
        transform: translateY(160px) ;
        
    }
}
@keyframes flagAnimation{
    0% {
        visibility: visible;
        transform: translateY(100px);
       
    }
  
    25% {
        visibility: visible;
        transform: translateY(0) ;
        
    }
    100%{
        opacity: 0;
    }
}
@keyframes treeAnimation{
    0% {
        transform: translateY(700px);
        opacity: 0;
    }


    100% {
        transform: translateY(0) ;
    }
}
@keyframes treeHide{
    0% {
        transform: translateY(0);
       
    }


    100% {
        transform: translateY(200px) ;
        opacity: 0;
    }
}
@keyframes LogoToRight {
    0% {
        transform: translateX(-300px);
        opacity: 0.3;
    }

    50% {
        transform: translateX(50px) ;
        opacity: 0.6;
        transform: skewX(12deg);
        transform: skewY(12deg);
    }

    100% {
        transform: translateX(0) ;
        opacity: 1;
    }
}
@keyframes LogoToLeft {
    0% {
        transform: translateX(500px);
        opacity: 0.3;
    }

    50% {
        opacity: 0.6;
        transform: skewX(-12deg);
        transform: skewY(-12deg);
    }

    100% {
        transform: translateX(0) ;
        opacity: 1;
    }
}
/*********************************************/
/*************Flag Animation*****************/
/********************************************/
/**********************************************/
/* ----------------------------------------------
 * Generated by Animista on 2019-11-7 13:34:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */

  @keyframes flip-vertical-right {
    0% {
            transform: rotateY(0);
    }
   
    100%{
        transform: rotateY(360deg);
    }
  }
  


/*********************************************************************************************************************************/
/********************************************************************************************************************************/
/*************Bird Animation****************************************************************************************************/
/***Taken from "https://codepen.io/matchboxhero/pen/RLebOY?editors=1100"*******************************************************/
/*****************************************************************************************************************************/
/****************************************************************************************************************************/
.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

}
.bird.bird--one{
    animation-duration: 1s;
	animation-delay: -0.5s;	
}
.bird.bird--two{
    animation-duration: 0.9s;
		animation-delay: -0.75s;
}
.bird-container {   
	position: absolute;
    top: 5%;
    opacity: 0.6;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 8s;
    
	
}
.bird-container.bird-container--one{
    animation-duration: 15s;
    animation-delay: 0;	
    
}
.bird-container.bird-container--two{
    animation-duration: 16s;
		animation-delay: 1s;
}
@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}
/**********************************************************/
/**********************************************************/
/*************End of Bird Animation************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/

/* * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */ 
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }



/**********************************************************/
/**********************************************************/
/*************Team Splash Scren ***************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.team-flag{
    display: block;
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 25vh;
    animation: slide-in-teamflag 1s 6s forwards;  
    
}
#assign-flag{
    
    animation: bounce-in-top 1.5s both,flip-vertical-right 0.8s  6.5s  cubic-bezier(0.455, 0.030, 0.515, 0.955) ;
    width: 100%;
}
.team-info{
    font-size: 2em;
    animation: slide-in-right 0.5s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
/**********************************************************/
/**********************************************************/
/************* Animation for LeaderBoard Flag *************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }